html {
  background: url(../images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
}

head {
  height: 0;
}

/* BEGIN input placeholder colors */
*::-webkit-input-placeholder {
    color: rgb(211, 211, 211);
}
*:-moz-placeholder {
    color: rgb(211, 211, 211);
}
*::-moz-placeholder {
    color: rgb(211, 211, 211);
}
*:-ms-input-placeholder {
    color: rgb(211, 211, 211);
}
/* END input placeholder colors */

body {
  margin: 0;
  background-color: rgba(51, 51, 51, 0.35);
  height: 100%;
}

body div#image-overlay-text {
  padding-top: 3em;
}

h1 {
  font-family: 'AvenirNext-Heavy', 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 6em;
  font-weight: 700;
  color: rgb(241, 241, 241);
  text-align: center;
  margin: 0;
}

p {
  font-family: 'AvenirNext-Regular', 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: rgb(241, 241, 241);
  text-align: center;
  margin: 0em;
}

div#pitch-text p {
  width: 65%;
  margin-top: 3em;
  margin-left: auto;
  margin-bottom: 3em;
  margin-right: auto;
}

div.mc-field-group {
  text-align: center;
  vertical-align: center;
}

div.mc-field-group input#mce-EMAIL {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-right: 1em;
  border: none;
  border-bottom: solid 2px rgb(241, 241, 241);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(241, 241, 241);
  text-align: left;
  font-family: 'AvenirNext-Heavy', 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size:20px;
  font-weight: 700;
}

div.mc-field-group input#mce-EMAIL:focus {
  outline: 0;
}

div.mc-field-group input#mc-embedded-subscribe {
  background-color: rgb(1, 210, 196);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(241, 241, 241);
  font-family: 'AvenirNext-Heavy', 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

div.mc-field-group input#mc-embedded-subscribe:hover {
	background-color: rgb(3, 172, 161);
}

div.mc-field-group input#mc-embedded-subscribe:active {
	position:relative;
	top:1px;
}

footer p {
  color: rgba(200, 200, 200, 0.7);
  position: fixed;
  bottom: 0.2em;
  width: 100%;
  font-size: 14px;
}
